.input_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.btn btn-info btn-lg{
    display: flex;
    justify-content: center;
}
button{
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgb(249, 26, 129);
    padding: 10px;
}
input{
    border-radius: 5px;
    color: rgb(249, 26, 129);
    border-color: rgb(249, 26, 129);

    
}
.input_main{
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 align-items: center;
 margin-right: 30px;
}
label{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #30A8DD;
    opacity: 90%;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
}
