.input_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.btn btn-info btn-lg{
    display: flex;
    justify-content: center;
}
button{
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
input{
    border-radius: 5px;
}
.input_main{
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 align-items: center;
 margin-right: 30px;
}
