li{
    list-style: none;
    margin-bottom: 10px;
    text-align:justify;
}
.list_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
ul{
    margin-bottom: 30px;
   
    text-align: left;

}
.add_new{
    margin-bottom: 30px;
}
.items_updated{
    border: solid;
    border-color: rgb(249, 26, 129);
    border-radius: 5px;
    padding: 20px;
    background-color: aliceblue;
    align-items: center;
    width: 200px;
}